.explore-page-container {
  /* width: calc(100% - 245px);
  margin-left: auto; */
  max-width: 62rem;
  width: 100%;
  height: 100vh;
  margin: 1rem 0rem 0 14rem;
  /* border: 2px solid red; */
}

.explore-page-heading {
  /* border: 2px solid red; */
  text-align: center;
  font-weight: 500;
  font-size: x-large;
  padding: 15px;
}
